/* ---------------------------------
 *       Override CSS Framework
 * --------------------------------- */
html {
  font-size: 14px;
}
body {
  background-color: #f7f7f7;
}
body,
button,
input,
select,
textarea {
  font-family: "Ubuntu", "Roboto", "Open Sans", "Microsoft YaHei", sans-serif;
}
@media screen and (min-width: 1280px) {
  .is-1-column .container,
  .is-2-column .container {
    max-width: 960px;
    width: 960px;
  }
}
@media screen and (min-width: 1472px) {
  .is-2-column .container {
    max-width: 1152px;
    width: 1152px;
  }
  .is-1-column .container {
    max-width: 960px;
    width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 1.5rem 1rem;
  }
  .navbar-main .navbar-menu {
    flex-direction: column;
  }
  .navbar-main .navbar-menu .navbar-end, .navbar-main .navbar-menu .navbar-start {
    justify-content: center;
  }
  .navbar-main .navbar-menu .navbar-end .navbar-item, .navbar-main .navbar-menu .navbar-start .navbar-item {
    padding: .5rem;
  }
}
@media screen and (min-width: 769px) {
  .column-main.is-sticky,
  .column-left.is-sticky,
  .column-right.is-sticky,
  .column-right-shadow.is-sticky {
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0.75rem;
  }
  .column-right-shadow.is-sticky {
    top: 1.5rem;
  }
  ::-webkit-scrollbar{
    width:8px;height:8px;
  }
  ::-webkit-scrollbar-track{
    border-radius:3px;background:rgba(0,0,0,.06);
    box-shadow:inset 0 0 5px rgba(0,0,0,.1);
  }
  ::-webkit-scrollbar-thumb{
    border-radius:3px;
    background:rgba(0,0,0,.12);
    box-shadow:inset 0 0 10px rgba(0,0,0,.2);
  }
  ::-webkit-scrollbar-thumb:hover{
    background:rgba(0,0,0,.24)
  }
}
.tag.is-grey {
  background: #e7e7e7;
}
.card {
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
}
.card + .card,
.card + .column-right-shadow {
  margin-top: 1.5rem;
}
.card.card-transparent {
  box-shadow: none;
  background: 0 0 /* 1 */;
}
.card .card-image {
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
img.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.navbar-logo img,
.footer-logo img {
  max-height: 1.75rem;
}
.navbar-main {
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.navbar-main .navbar-menu,
.navbar-main .navbar-start,
.navbar-main .navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
  flex-shrink: 0;
}
.navbar-main .navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
  overflow-x: auto;
}
.navbar-main .navbar-menu .navbar-item:focus{
	background-color: rgba(0,0,0,0);
}
.navbar-main .navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-main .navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}
.navbar-main .navbar-item {
  display: flex;
  align-items: center;
  padding: 1.25rem 0.75rem;
}
.navbar-main .navbar-item.is-active {
  color: #3273dc;
  background-color: transparent;
}
@media screen and (max-width: 1087px) {
  .navbar-main .navbar-menu {
    justify-content: center;
    box-shadow: none;
  }
  .navbar-main .navbar-start {
    margin-right: 0;
  }
  .navbar-main .navbar-end {
    margin-left: 0;
  }
}
.footer {
  background: #fff;
}
.footer .field .button {
  background: 0 0 /* 1 */;
}
.widget .media {
  border: none;
}
.widget .media + .media {
  margin-top: 0;
}
.widget .menu-list li ul {
  margin-right: 0;
}
.widget .menu-list a.level {
  display: flex;
}
.widget .has-text-centered figure.image {
  margin: auto;
}
.pagination .pagination-link:not(.is-current),
.pagination .pagination-previous,
.pagination .pagination-next {
  background: #fff;
  border: none;
}
.pagination .pagination-link,
.pagination .pagination-previous,
.pagination .pagination-next {
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.post-navigation {
  justify-content: space-around;
}
.post-navigation .level-item {
  margin-bottom: 0;
  flex-shrink: 1
}
.timeline {
  margin-left: 1rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  border-left: 1px solid #dbdbdb;
}
.timeline .media {
  position: relative;
}
.timeline .media:before,
.timeline .media:last-child:after {
  content: '';
  display: block;
  position: absolute;
  left: calc(-5px - 1.5rem);
}
.timeline .media:before {
  width: 9px;
  height: 9px;
  top: 1.3rem;
  background: #dbdbdb;
  border-radius: 50%;
}
.timeline .media:first-child:before {
  top: 0.3rem;
}
.timeline .media:last-child:after {
  top: calc(1.3rem + 9px);
  width: 9px;
  bottom: 0;
  background: #fff;
}
.timeline .media:first-child:last-child:after {
  top: calc(0.3rem + 9px);
}
.article .article-meta {
  margin-bottom: 0.5rem !important;
  overflow-y: hidden;
}
.article .content {
  font-size: 1.1rem;
}
.article .content blockquote.pullquote {
  float: right;
  max-width: 50%;
  font-size: 1.15rem;
  position: relative;
}
.article .content a {
  word-wrap: break-word;
}
.rtl {
  direction: rtl;
}
.rtl .level .level-item:not(:last-child),
.rtl .level.is-mobile .level-item:not(:last-child) {
  margin-left: 0.75rem;
  margin-right: 0;
}
.donate {
  position: relative;
}
.donate .qrcode {
  display: none;
  position: absolute;
  z-index: 99;
  bottom: 2.5em;
  line-height: 0;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.2);
  overflow: hidden;
}
.donate .qrcode img {
  max-width: 280px;
}
.donate:hover .qrcode {
  display: block;
}
.donate:first-child:not(:last-child) .qrcode {
  left: -0.75rem;
}
.donate:last-child:not(:first-child) .qrcode {
  right: -0.75rem;
}
@media screen and (max-width: 768px) {
  #toc {
    display: none;
    position: fixed;
    margin: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
  }
  #toc-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,0.7);
  }
  #toc.is-active,
  #toc-mask.is-active {
    display: block;
  }
}
/* ---------------------------------
 *         Custom modifiers
 * --------------------------------- */
.is-borderless {
  border: none;
}
article.media .categories,.is-size-7 {
  font-size: 0.85rem !important;
}
.is-7by1 {
  padding-top: 42.8%;
}
.is-7by1 img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.is-overflow-x-auto {
  overflow-x: auto !important;
}
.is-flex-grow {
  flex-grow: 1 !important;
}
.is-flex-wrap {
  flex-wrap: wrap !important;
}
.is-flex-start {
  justify-content: start !important;
}
.is-flex-center {
  justify-content: center !important;
}
.is-flex-middle {
  align-items: center !important;
}
.has-order-1 {
  order: 1;
}
.has-order-2 {
  order: 2;
}
.has-order-3 {
  order: 3;
}
.has-mr-6 {
  margin-right: 0.5em !important;
}
.has-mb-6 {
  margin-bottom: 0.5em !important;
}
.has-mr-7 {
  margin-right: 0.25em !important;
}
.has-link-grey {
  color: #7a7a7a !important;
}
.has-link-black-ter {
  color: #242424 !important;
}
@media screen and (max-width: 768px) {
  .has-text-centered-mobile {
    text-align: center !important;
  }
  .is-flex-center-mobile {
    justify-content: center !important;
  }
  .has-mt-5-mobile {
    margin-top: 1em !important;
  }
}
/* ---------------------------------
 *         Font icon fixes
 * --------------------------------- */
.fa,
.fab,
.fal,
.far,
.fas {
  line-height: inherit;
}
/* ---------------------------------
 *        Fix content elements
 * --------------------------------- */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 400;
}
.content h1 {
  font-size: 1.75em;
}
.content h2 {
  font-size: 1.5em;
}
.content h3 {
  font-size: 1.25em;
}
.content h4 {
  font-size: 1.125em;
}
.content h5 {
  font-size: 1em;
}
.content code,
.content pre {
  font-size: 0.85em;
  font-family: "Source Code Pro", monospace, "Microsoft YaHei";
}
.content code:not(.uncode) {
  background-color: rgba(210, 210, 210, 0.2);
  border-radius: 3px;
  padding: 2px 4px;
  margin: 0 4px;
  color: #555;
}
.content blockquote footer strong + cite {
  margin-left: 0.5em;
}
/* ---------------------------------
 *        Fix code highlight
 * --------------------------------- */
figure.highlight {
  padding: 0;
  width: 100%;
  position: relative;
  margin: 1em 0 1em !important;
}
figure.highlight.folded .highlight-body {
  height: 0;
}
figure.highlight pre,
figure.highlight table tr:hover {
  color: inherit;
  background: 0 0 /* 1 */;
}
figure.highlight table {
  width: auto;
}
figure.highlight table tr td {
  border: none;
}
figure.highlight table tr:not(:first-child) td {
  padding-top: 0;
}
figure.highlight table tr:not(:last-child) td {
  padding-bottom: 0;
}
figure.highlight pre {
  padding: 0;
  overflow: visible;
}
figure.highlight pre .line {
  line-height: 1.5rem;
}
figure.highlight figcaption,
figure.highlight .gutter {
  background: rgba(200,200,200,0.15);
}
figure.highlight figcaption {
  padding: 0.3em 0.75em;
  text-align: left;
  font-style: normal;
  font-size: 0.8em;
}
figure.highlight figcaption:after {
  clear: both;
  content: " ";
  display: table;
}
figure.highlight figcaption span {
  font-weight: 500;
  font-family: "Source Code Pro", monospace, "Microsoft YaHei";
}
figure.highlight figcaption .fold,
figure.highlight figcaption a {
  color: #9a9a9a;
}
figure.highlight figcaption a {
  float: right;
  margin-left: 0.5em;
}
figure.highlight figcaption .fold {
  margin-right: 0.5em;
  cursor: pointer;
}
figure.highlight .highlight-body {
  overflow: auto;
}
figure.highlight .gutter {
  text-align: right;
}
figure.highlight .tag,
figure.highlight .title,
figure.highlight .number,
figure.highlight .section {
  display: inherit;
  font: inherit;
  margin: inherit;
  padding: inherit;
  background: inherit;
  height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  min-width: inherit;
  border-radius: inherit;
}
/* ---------------------------------
 *          Overflow Table
 * --------------------------------- */
.table-overflow {
  overflow-x: auto;
}
.table-overflow table {
  width: auto !important;
}
.table-overflow table th {
  word-break: keep-all;
}
/* ---------------------------------
 *            Fix Video
 * --------------------------------- */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ---------------------------------
 *        Fix Gist Snippet
 * --------------------------------- */
.gist table tr:hover {
  background: 0 0 /* 1 */;
}
.gist table td {
  border: none;
}
.gist .file {
  all: initial;
}
@media screen and (min-width: 1700px) {
  .container {
    max-width: 1600px;
    width: 1600px;
  }
  .container .column.is-3-widescreen.container {
    width: 22%;
  }
  .container .column.is-6-widescreen {
    width: 56%;
  }
}
body {
  background-color: transparent;
}
body:before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}
.navbar {
  background-color: rgba(255,255,255,0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.navbar-main .navbar-menu {
  background-color: transparent;
}
.navbar-main .navbar-item.is-active {
  color: inherit;
  font-weight: 700;
}
@media screen and (min-width: 1088px) {
  .navbar-main .navbar-start {
    margin-left: 2em;
  }
}
.card {
  transition: background-color 0.5s ease;
  background-color: rgba(255,255,255,0.95);
}
.card:hover {
  background-color: #fff;
}
.card.card-transparent {
  background-color: transparent !important;
}
.card.card-transparent .level-end,
.card.card-transparent .card.card-transparent .level-start {
  overflow: hidden;
}
@media screen and (min-width: 769px) {
  .column-left.is-sticky,
  .column-main.is-sticky,
  .column-right-shadow.is-sticky,
  .column-right.is-sticky {
    top: 10px;
  }
}
.article .content {
  overflow-y: hidden;
}
.footer {
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: relative;
}
.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}
.footer a:not(.button) {
  color: inherit;
}
.footer a:not(.button):hover {
  text-decoration: underline;
}
.footer-logo img {
  max-height: 2rem;
}
.section .container .columns {
  -webkit-justify-content: center;
  justify-content: center;
}
::selection {
  color: #fff;
  background-color: rgba(93,147,219,0.8);
}
::-moz-selection {
  color: #fff;
  background-color: rgba(93,147,219,0.8);
}
a {
  color: #449bff;
}
.ins-section-container .ins-section .ins-search-item.active,
.ins-section-container .ins-section .ins-search-item:hover {
  background-color: #5d93db;
}
.button.is-link {
  background-color: #5d93db;
}
.has-link-black-ter,
.has-link-grey {
	background-image: linear-gradient(transparent calc(100% - 1px), #5d93db 1px);
	background-repeat: no-repeat;
	background-size: 0 100%;
	transition: all .25s ease-in-out
}
.has-link-black-ter:hover,
.has-link-grey:hover {
	color: #5d93db!important;
	background-size: 100% 100%
}
.searchbox .searchbox-container .searchbox-input-wrapper .searchbox-close:hover {
  color: #f00;
}
.button.is-link.is-hovered,
.button.is-link:hover {
  background-color: #71a1e0;
}
.button.is-link.is-active,
.button.is-link:active {
  background-color: #4382d6;
}
.pagination-link.is-current {
  background-color: #5d93db;
  border-color: #4382d6;
}
.navbar-main .navbar-menu .navbar-end .navbar-item {
  width: 35px;
  justify-content: center;
  -webkit-justify-content: center;
}
#head_img {
  transition: all 2s;
}
#head_img:hover {
  transform: rotate(-360deg);
}
.card-content{
	word-wrap:break-word;
	word-break:break-all;
}

.links {
  margin-bottom: 20px
}

.links ul {
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100%;
  display: inline-block
}

.links ul li {
  width: 32%;
  float: left;
  border: 1px solid #ececec;
  padding: 10px 30px;
  margin: 4px;
  position: relative;
  overflow: hidden;
  transition: all .3s;
  border-radius: 10px;
  height: 100px;
  box-sizing: border-box
}

.links ul li img {
  float: right;
  box-shadow: inset 0 0 10px rgba(81,160,250,0.8);
  opacity: 1;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  margin-top: 5px;
  width: 65px;
  height: 65px;
  padding: 2px;
  border-radius: 100%
}

.links ul li:hover img {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg)
}

.links span.sitename {
  color: #3273dc;
  padding-bottom: 10px;
  display: block;
  transition: all .3s;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap
}

.linkdes {
  color: #949494;
  font-size: 13px;
  border-top: 1px dashed #ddd;
  line-height: 25px;
  transition: all .5s;
  text-indent: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.links .link-title {
  font-weight: 400;
  color: #6d6d6d;
  padding-left: 0;
  border-left: none;
  margin: 50px 0 20px
}

.links .link-title span.fake-title {
  padding-left: 10px;
  border-left: 3px solid #449bff
}
.links ul li:before {
  content: "";
  background-color: #449bff;
  transform: skew(45deg,0);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: -60px;
  transition: all .5s;
  opacity: 0.2;
}

.links ul li:hover {
  color: #27323a;
  border: 1px solid #449bff
}

.links ul li:hover:before {
  width: 180%;
}

.links ul li:hover .linkdes {
  color: #949494;
  border-top: 1px dashed #ddd
}

@media (max-width:630px) {
  .links ul li {
    width: 100% !important
  }
}

@media (max-width:768px) {
  .links ul li:before {
    display: none
  }
}

@media (max-width:1472px) {
  .links ul li {
    width: 48%
  }

  .links ul li:hover .sitename {
    color: #449bff
  }
}
.copyright .post-copyright {
  margin: 2rem 0 1rem 0;
  padding: 0.5rem 1rem;
  border-left: 3px solid rgba(81,160,250,0.8);
  background-color: rgba(246,246,246,0.6);
  list-style: none;
  font-size: 1rem;
}
.copyright .post-copyright li {
  padding: 0.2rem 0;
}
.none .none-content {
	display: flex!important;
	padding-top: 3rem!important;
	flex-direction: column!important;
	box-sizing: border-box;
	align-items: center!important;
	color: #6c757d!important;
	font-size: 120%;
}
.none .none-content a {
	font-weight: bold;
}
.none .none-content .none-text {
	margin-top: 1.5rem!important;
	margin-bottom: 3rem!important;
}
.menu-list a.is-active{
	background-color:#eef3fc;
	color:#3273dc;
}
.menu-list>li>a.is-active+ .menu-list{
    display:block
}
.menu-list>li>a+.menu-list{
    display:none
}
/* ---------------------------------
*            night mode
* --------------------------------- */
#universe {
  display: none;
}
.navbar-logo .logo-img-dark,
.footer-logo .logo-img-dark {
  display: none;
}
body.night {
  background: #0e1225;
}
.night .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.night .hljs-comment,
.night .hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.night .hljs-doctag,
.night .hljs-keyword,
.night .hljs-formula {
  color: #c678dd;
}
.night .hljs-section,
.night .hljs-name,
.night .hljs-selector-tag,
.night .hljs-deletion,
.night .hljs-subst {
  color: #e06c75;
}
.night .hljs-literal {
  color: #56b6c2;
}
.night .hljs-string,
.night .hljs-regexp,
.night .hljs-addition,
.night .hljs-attribute,
.night .hljs-meta-string {
  color: #98c379;
}
.night .hljs-built_in,
.night .hljs-class .hljs-title {
  color: #e6c07b;
}
.night .hljs-attr,
.night .hljs-variable,
.night .hljs-template-variable,
.night .hljs-type,
.night .hljs-selector-class,
.night .hljs-selector-attr,
.night .hljs-selector-pseudo,
.night .hljs-number {
  color: #d19a66;
}
.night .hljs-symbol,
.night .hljs-bullet,
.night .hljs-link,
.night .hljs-meta,
.night .hljs-selector-id,
.night .hljs-title {
  color: #61aeee;
}
.night .hljs-emphasis {
  font-style: italic;
}
.night .hljs-strong {
  font-weight: bold;
}
.night .hljs-link {
  text-decoration: underline;
}
.night .content code {
  color: #cbba7d;
}
.night #night-nav #night-icon:before {
  content: '\f0eb';
}
.night #universe {
  background: radial-gradient(1600px at 70% 120%, #212750 10%, #020409 100%);
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.night img,
.night video,
.night iframe,
.night .waifu,
.night .donate {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}
.night .navbar-logo .logo-img,
.night .footer-logo .logo-img {
  display: none;
}
.night .navbar-logo .logo-img-dark,
.night .footer-logo .logo-img-dark {
  display: inline-block;
}
.night .navbar-main .navbar-menu {
  background-color: rgba(40,44,52,0);
}
.night .navbar-main .navbar-menu .navbar-item:hover {
  color: #fff;
  background-color: rgba(70,74,82,0.6);
}
.night .navbar,
.night .card {
  background-color: rgba(40,44,52,0.5);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
.night .card:hover {
  background-color: rgba(40,44,52,0.8);
}
.night .footer {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
.night .footer:before {
  background-color: rgba(40,44,52,0.5);
}
.night .input,
.night .textarea {
  background-color: #434a56;
  border-color: #373d48;
}
.night .button.is-link,
.night .button.is-light {
  background-color: #373d48;
  color: #c0c0c0;
}
.night .button.is-link:hover,
.night .button.is-light:hover,
.night .button.is-link.is-hovered,
.night .button.is-light.is-hovered {
  background-color: #434a56;
}
.night .button.is-link:active,
.night .button.is-light:active,
.night .button.is-link.is-active,
.night .button.is-light.is-active {
  background-color: #2c313a;
}
.night .button.is-white {
  background-color: transparent;
}
.night .button.is-white:hover {
  background-color: #373d48;
}
.night .pagination .pagination-next,
.night .pagination .pagination-previous,
.night .pagination-link:not(.is-current) {
  color: #c0c0c0;
  background-color: #373d48;
}
.night .pagination-link.is-current {
  background-color: #434a56;
  border-color: #434a56;
}
.night .v .vwrap,
.night .v .vwrap .vheader .vinput {
  border-color: #373d48;
}
.night .v .vwrap .vheader .vinput:focus {
  border-color: #434a56;
}
.night .v .vbtn {
  color: #c0c0c0;
  background-color: #373d48;
  border-color: #373d48;
}
.night .v .vbtn:hover {
  background-color: #434a56;
}
.night .v .vbtn:active {
  background-color: #2c313a;
}
.night .v .vlist .vcard .vhead .vsys {
  background-color: #373d48;
}
.night .v a:hover,
.night .v .vlist .vcard .vh .vmeta .vat {
  color: #fff;
}
.night .v .vlist .vcard .vcontent.expand:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37,41,54,0)), to(#252936));
  background: linear-gradient(180deg, rgba(37,41,54,0), #252936);
}
.night .v .vlist .vcard .vcontent.expand:after {
  background: #252936;
}
.night .v .vlist .vcard .vh,
.night .v .vlist .vcard .vquote {
  border-color: #434a56;
}
.night body,
.night strong,
.night .title,
.night .footer,
.night .card,
.night .content h1,
.night .content h2,
.night .content h3,
.night .content h4,
.night .content h5,
.night .content h6,
.night .navbar-item,
.night .navbar-item.is-active,
.night .navbar-link,
.night .menu-list a,
.night .menu-label,
.night .input,
.night .textarea,
.night .button.is-white,
.night .v * {
  color: #c0c0c0;
}
.night .has-text-grey,
.night .has-text-black-ter,
.night .has-link-grey,
.night .has-link-black-ter {
  color: #c0c0c0 !important;
}
.night a {
  color: #5299e0;
}
.night a:hover {
  color: #fff;
}
.night .content blockquote {
  background-color: #373d48;
  border-color: #434a56;
}
.night .content table thead td,
.night .content table thead th {
  color: #c0c0c0;
}
.night .content table td,
.night .content table th {
  border-color: #434a56;
}
.night hr {
  background-color: #434a56;
}
.night .has-link-grey:after,
.night .has-link-black-ter:after {
  background-image: linear-gradient(transparent calc(100% - 1px), #c0c0c0 1px) !important;
}
.night .tag:not(body) {
  color: #c0c0c0;
  background-color: #373d48;
}
.night .tag.is-grey {
  background-color: #434a56;
}
.night .menu-list a:hover {
  background-color: #373d48;
}
.night .menu-list li ul {
  border-color: #373d48;
}
.night .timeline .media:last-child:after {
  background-color: #252936;
}
.night .timeline {
  border-color: #434a56;
}
.night .timeline .media:before {
  background-color: #434a56;
}
.night .searchbox .searchbox-container,
.night .searchbox .searchbox-input-wrapper .searchbox-input,
.night .searchbox .ins-section-header,
.night .searchbox .ins-selectable,
.night .searchbox .ins-search-item {
  color: #c0c0c0;
  background-color: #373d48;
  border-color: #434a56;
}
.night .searchbox .ins-section-container .ins-section .ins-search-item:hover,
.night .searchbox .ins-section-container .ins-section .ins-search-item.active {
  background-color: #434a56;
}
.night .searchbox .searchbox-container .searchbox-input-wrapper .searchbox-close:hover {
  color: #fff;
}
.night ::selection {
  color: #fff;
  background-color: rgba(52,109,167,0.8);
}
.night ::-moz-selection {
  color: #fff;
  background-color: rgba(52,109,167,0.8);
}
.night input:-webkit-autofill {
  -webkit-text-fill-color: #c0c0c0 !important;
  box-shadow: 0 0 0px 1000px #373d48 inset;
}
.night .links ul li:hover {
  color: #27323a;
  border: 1px solid #aaa
}
.night .links ul li:hover:before {
  background-color: rgba(200,200,200,0.8);
}
.night .copyright .post-copyright {
  border-left: 3px solid rgba(40,40,40,0.8);
  background-color: rgba(90,90,90,0.6);
}
body.night .menu-list a.is-active {
    background-color: #434a56;
}
