html.celebration {
  --main: hsla(0, 0%, 100%, 0.9);
  --theme: #ff3b3b!important;
  --background: #cb1213;
  --title: #fff;
  --light-b: #f13a3a;
  --dark-b: #eee;
  --dark-c: #fff;
  --dark-d: #e4e4e4;
  --dark-e: #e4e4e4;
  --color-a: #f13a3a;
  --bg-a: hsla(0,0%,100%,.102);
  --bg-b: #ec9494;
  --bg-c: #ea5454;
  --bg-d: rgba(189, 13, 14, 0.8);
  --bg-g: #ec9494;
  --bg-j: hsla(0, 0%, 100%, 0.102);
  --bg-l: rgb(239 107 107 / 80%);
  --bg-h: hsl(0deg 68% 53% / 80%);

  body {
    background: rgb(145 11 11 / 90%);
  }

  .banner .banner-waves {
    fill: #b81213;
  }

  .card {
    border-radius: 0;

    &:hover {
      background: #b81213;
    }
  }

  .hljs {
    color: hsla(0, 25%, 94%, 0.9);
    background: hsl(0deg 68% 53% / 80%);
  }

  .main-content {

    figure {

      pre>ul, figcaption {
        color: #eebfbf;
        background: rgb(255 132 132 / 40%);
      }
    }
  }
}