@charset "utf-8";
/* CSS Document */
mew-subtitle {
  display: flex;
  justify-content: center;

  & > span {
    position: relative;
    color: var(--main);
    padding: 0 47px;

    &:hover {
      &::before {
        left: 12px;
      }

      &::after {
        right: 12px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 1px;
      background: var(--theme);
      transition: all .35s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 20px;
      height: 1px;
      background: var(--theme);
      transition: all .35s;
    }
  }
}

mew-music {
  display: block;
  background-color: var(--bg-d) !important;
  max-width: 620px;
  margin: auto !important;

  &:not(.aplayer) {
    padding: 10px 20px;
    font-size: 1.1rem;
    border: 1px solid var(--light-b);
    border-radius: 5px;

    &:before {
      content: "\f001";
      font-family: 'FontAwesome';
      color: var(--theme);
      margin-right: 10px;
    }
  }

  .aplayer-list ol li {
    border-top: 1px solid rgba(180, 180, 180, 0.2) !important;

    &.aplayer-list-light {
      background: rgba(200, 200, 200, 0.2) !important;
    }

    &:hover {
      background: rgba(200, 200, 200, 0.2) !important;
    }

  }

  &.aplayer-withlist .aplayer-info {
    border-bottom: none;
  }

  .aplayer-lrc {
    &:before {
      background: linear-gradient(180deg, #c5c5c52b 0, hsla(0, 0%, 100%, 0)) !important;
    }

    &:after {
      background: linear-gradient(180deg, hsl(0deg 0% 100% / 0%) 0, hsl(0deg 0% 100% / 23%)) !important;
    }
  }
}

mew-tabs {
  width: 100%;
  overflow: hidden;
  display: block;
  background: var(--bg-d);
  border: 1px solid var(--light-b);
  border-radius: var(--radius-inner);
  line-height: 26px;

  .tabs-head {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    background: var(--bg-h);

    & > div {
      position: relative;
      padding: 0 1rem;
      line-height: 40px;
      height: 40px;
      color: var(--dark-b);
      cursor: pointer;
      transition: color .5s;
      white-space: nowrap;
      font-size: 1rem;

      &::after {
        content: "";
        position: absolute;
        background: var(--theme);
        bottom: 0;
        left: 1rem;
        right: 1rem;
        height: 2px;
        opacity: 0;
        border-radius: 2px;
        transform: scaleX(.5);
        transition: opacity .25s, transform .25s;
      }

      &.active {
        color: var(--theme);

        &::after {
          opacity: 1;
          transform: scaleX(1);
        }
      }
    }
  }

  .tabs-body {
    padding: 0.8rem 1rem;

    & > div {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}