@charset "utf-8";
/* CSS Document */
mew-subtitle {
  display: flex;
  justify-content: center;

  & > span {
    position: relative;
    color: var(--main);
    padding: 0 47px;

    &:hover {
      &::before {
        left: 12px;
      }

      &::after {
        right: 12px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 1px;
      background: var(--theme);
      transition: all .35s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 20px;
      height: 1px;
      background: var(--theme);
      transition: all .35s;
    }
  }
}

mew-music {
  display: block;
  background-color: var(--bg-d) !important;
  max-width: 620px;
  margin: auto !important;

  &:not(.aplayer) {
    padding: 10px 20px;
    font-size: 1.1rem;
    border: 1px solid var(--light-b);
    border-radius: 5px;

    &:before {
      content: "\f001";
      font-family: 'FontAwesome';
      color: var(--theme);
      margin-right: 10px;
    }
  }

  .aplayer-list ol li {
    border-top: 1px solid rgba(180, 180, 180, 0.2) !important;

    &.aplayer-list-light {
      background: rgba(200, 200, 200, 0.2) !important;
    }

    &:hover {
      background: rgba(200, 200, 200, 0.2) !important;
    }

  }

  &.aplayer-withlist .aplayer-info {
    border-bottom: none;
  }

  .aplayer-lrc {
    &:before {
      background: linear-gradient(180deg, #c5c5c52b 0, hsla(0, 0%, 100%, 0)) !important;
    }

    &:after {
      background: linear-gradient(180deg, hsl(0deg 0% 100% / 0%) 0, hsl(0deg 0% 100% / 23%)) !important;
    }
  }
}