@charset "utf-8";
/* CSS Document */
.content .code-format{
	margin: 0.5rem 0;
	padding: 0;
}
.content .code-format>.code-head {
	background-color: rgba(200, 200, 200, 0.15);
	padding: 0.2rem 0;
	font-size: 0.95rem;
	color: #383a42
}
.content .code-format>.code-head>span {
	color: #9a9a9a;
	margin: 0 0.8rem;
	cursor: pointer;
}
.content .code-format>.code-head>a {
	float: right;
	margin-right: 0.8rem;
	color: #9a9a9a
}
.content .code-format>.code-head>a:hover {
	color: #333;
}
.content .code-format pre {
	margin: 0;
	padding: 0;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    padding-left: 2.6rem;
    border: none;
	background-color: transparent;
}
.content .code-format pre .pre-numbering {
	font-family: Ubuntu, Roboto, "Open Sans", "Microsoft YaHei", sans-serif;
	position: absolute;
	width: 2.6rem;
	background-color: rgba(200, 200, 200, 0.15);
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.5rem;
	text-align:center;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.content .code-format pre li+li {
    margin-top: 0rem;
}
.content .code-format pre code{
	padding: 0 0 0 0.4rem;
	line-height: 1.5rem;
	font-size: 0.95rem;
	overflow-y: hidden;
}
.night .content .code-format>.code-head, .night .content .code-format pre .pre-numbering li {
	color: #abb2bf;
}
