@charset "utf-8";
/* CSS Document */
.main-content {
  color: var(--main);
  font-size: 1rem;

  &.article {
    padding-bottom: 30px;
  }

  code:not([class]) {
    display: inline-block;
    font-size: 0.9em;
    color: var(--color-a);
    margin: 2px 3px;
    padding: 0 8px;
    white-space: normal;
    vertical-align: baseline;
    word-break: break-word;
    background: var(--bg-g);
    border-radius: var(--radius-inner);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--dark-c);
    line-height: 1.8rem;
    margin-bottom: 18px;
  }

  h1 {
    margin: 30px 0 20px 0;
    font-size: 1.6em;
  }

  h2 {
    margin: 30px 0 20px 0;
    font-size: 1.4em;
  }

  h3 {
    margin: 25px 0 18px 0;
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.18em;
  }

  h5, h6 {
    font-size: 1em;
  }

  p {
    line-height: 1.85rem;
    margin-bottom: 18px;
  }

  blockquote {
    line-height: 1.85rem;
    margin-bottom: 18px;
    padding: 8px 15px;
    color: var(--dark-b);
    background: var(--bg-h);
    border-left: 5px solid var(--bg-i);
    border-radius: var(--radius-inner);

    p {
      margin: 0;
    }
  }

  a:not([class]) {
    line-height: 1.85rem;
    color: var(--theme);
    background-image: linear-gradient(transparent calc(100% - 1px), var(--theme) 1px);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: all .35s ease-in-out;

    &:hover {
      color: var(--theme);
      background-size: 100% 100%;
    }
  }

  ol,
  ul {
    margin-bottom: 18px;
    padding-left: 36px;

    li {
      line-height: 1.85rem;

      &.task-list-item {
        margin-left: -16px;
        list-style: none;

        input {
          position: relative;
          top: 1px;
        }
      }
    }
  }

  ol li {
    list-style: decimal;
  }

  ul li {
    list-style: disc;
  }

  table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    border-collapse: unset;
    color: var(--main);
    background: var(--bg-d);
    margin-bottom: 18px;
    overflow: hidden;
    font-size: 13px;
    border: 1px solid var(--light-b);
    border-radius: var(--radius-inner);

    td,
    th {
      padding: 8px;
      border-right: 1px solid var(--light-b);
      border-bottom: 1px solid var(--light-b);
    }

    thead {
      th {
        font-weight: 500;
        background: var(--bg-h);

        &:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      tr {
        transition: background 0.35s;

        &:nth-child(2n) {
          background: var(--bg-j);
        }

        &:last-child td {
          border-bottom: none;
        }

        &:hover {
          background: rgb(179 179 179 / 15%);
        }

        td:last-child {
          border-right: none;
        }
      }
    }
  }

  figure {
    margin: 20px 0;
    padding: 0;
    border-radius: var(--radius-inner);
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
    overflow: hidden;
    position: relative;

    &.fold {
      max-height: 320px;

      .expand-done {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0), rgb(77 77 77 / 40%));

        i {
          transform: rotatex(180deg);
        }
      }
    }

    & > figcaption {
      display: flex;
      background: var(--bg-l);
      padding: 0;
      height: 2.2em;
      line-height: 2.2em;
      user-select: none;
      //color: #383a42;

      &:before {
        content: '';
        display: inline-block;
        margin: 8px 48px 8px 8px;
        border-radius: 50%;
        background: #ff0800 no-repeat 10px 10px;
        width: 12px;
        height: 12px;
        box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
      }

      div {
        margin-left: auto;
        display: inline-block;
        cursor: pointer;
        text-align: center;

        i {
          color: var(--dark-d);
          transition: all 0.25s;
          margin-right: 0.8rem;

          &:hover {
            color: var(--dark-c);
          }

          &.close {
            transform: rotate(90deg);
          }
        }
      }
    }

    pre {
      margin: 0;
      display: flex;
      overflow-y: hidden;
      overflow-x: auto;
      padding: 0;
      border: none;
      background: transparent !important;

      > ul {
        font-family: Ubuntu, Roboto, "Open Sans", "Microsoft YaHei", sans-serif;
        margin: 0;
        padding: 0 0.8rem;
        user-select: none;
        background: var(--bg-l);

        li {
          list-style: none;
          line-height: 1.5rem;
        }
      }

      li + li {
        margin-top: 0;
      }

      code {
        padding: 0 0 0.5rem 0.4rem;
        line-height: 1.5rem;
        font-size: 0.95rem;
        overflow-y: hidden;
        background: var(--bg-k);
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 1.8rem;
        }
      }
    }

    .expand-done {
      background: var(--bg-k);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      height: 1.8rem;
      cursor: pointer;

      i {
        color: var(--dark-e);
        font-size: 1.6rem;
        animation: code-expand 1.2s infinite;
        transition: all 0.3s;
      }
    }
  }

  img {
    width: 100%;
    transition: all 0.35s;
    margin: 5px 0;
    border-radius: var(--radius-img);
    cursor: zoom-in;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 34px 20px -24px rgb(136 161 206 / 30%);
    }
  }
}

.admire {
  margin: 30px 0 18px 0;
  text-align: center;

  &-content {
    user-select: none;
    margin-bottom: 15px;

    button {
      border-radius: 50px;
      padding: 8px 18px;
      border: none;
      box-shadow: 0 2px 10px rgb(0 0 0 / 10%);

      i {
        margin-right: 5px;
      }
    }

    .donate {
      background: #c0a46b;
      color: var(--light-a);
      transition: all 0.2s ease-in-out;
      position: relative;
      margin-right: 10px;

      &-list {
        position: absolute;
        bottom: 40px;
        right: 50%;
        border-radius: 5px;
        background: var(--background);
        box-shadow: var(--box-shadow);
        padding: 12px;
        transition: all 0.5s;
        z-index: -10;
        opacity: 0;

        ol {
          border-radius: 5px;
          overflow: hidden;
          display: flex;
        }

        img {
          max-width: 200px;
          max-height: 260px;
          object-fit: cover;
        }
      }

      &:hover {
        i {
          animation: dong ease 0.5s 0.2s infinite alternate;
        }

        .donate-list {
          transform: translateX(50%);
          z-index: unset;
          opacity: 1;
        }
      }
    }

    .agree {
      background: var(--background);
      color: var(--dark-e);

      i {
        font-size: 1.2em;
      }

      span > span {
        margin-left: 3px;
      }

      &:hover {
        i {
          animation: shake-little ease-in-out 4s infinite;
        }
      }
    }
  }

  & > span {
    color: var(--dark-d);
    font-size: 0.9rem;
  }
}

.article-operation {
  margin: 18px 0;

  a {
    color: var(--dark-b);
    font-size: 0.9em;
    background: var(--bg-b);
    border: 1px solid var(--bg-b);
    position: relative;
    padding: 0 8px 0 29px;
    height: 26px;
    line-height: 24px;
    border-radius: 13px;
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background: var(--background);
      border-radius: 50%;
    }

    &:after {
      content: '\f097';
      position: absolute;
      font-family: 'FontAwesome';
      top: 50%;
      left: 12px;
      font-size: 1.2em;
      color: var(--theme);
      transform: translate(-50%, -50%);
    }

    &:hover {
      color: var(--main);
      border: 1px solid var(--light-b);
    }
  }
}

.copyright {
  margin: 18px 0;

  position: relative;
  background: var(--bg-h);
  overflow: hidden;
  border-radius: 6px;
  display: block;
  padding: 1.25rem;

  &:after {
    position: absolute;
    right: -50px;
    top: -30px;
    content: '\f25e';
    font-size: 200px;
    font-family: 'FontAwesome';
    color: var(--bg-i);
    opacity: 0.1;
  }

  .copyright-title {
    line-height: 1.2;
    margin-bottom: 1rem;

    *:not(:last-child) {
      margin-bottom: 0.25rem;
    }

    a {
      font-size: 0.85rem;
      color: var(--dark-d);
    }
  }

  .copyright-meta {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .icon {
      width: 1.2em;
      height: 1.2em;
    }

    .level-item {
      margin-right: 1.5rem !important;
      display: block;

      h6 {
        margin: 0;
      }

      p, a {
        color: var(--dark-e);
      }
    }
  }
}

@media (max-width: 520px) {
  .admire .donate-list ol {
    flex-wrap: wrap;

    img {
      width: 200px;
    }
  }
}

@keyframes dong {
  0% {
    transform: translateY(3px) scaleY(0.95);
  }

  100% {
    transform: translateY(-3px) scaleY(1);
  }
}

@keyframes code-expand {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes shake-little {
  0% {
    transform: translate(0, 0)
  }
  2% {
    transform: translate(-1px, 1px)
  }
  4% {
    transform: translate(-1px, -1px)
  }
  6% {
    transform: translate(0, 0)
  }
  8% {
    transform: translate(1px, 1px)
  }
  10% {
    transform: translate(1px, -1px)
  }
  12% {
    transform: translate(0, 0)
  }
  14% {
    transform: translate(-1px, 1px)
  }
  16% {
    transform: translate(-1px, -1px)
  }
  18% {
    transform: translate(0, 0)
  }
  20% {
    transform: translate(1px, 1px)
  }
  22% {
    transform: translate(1px, -1px)
  }
  24% {
    transform: translate(0, 0)
  }
  26% {
    transform: translate(-1px, 1px)
  }
  28% {
    transform: translate(-1px, -1px)
  }
  30% {
    transform: translate(0, 0)
  }
  32% {
    transform: translate(1px, 1px)
  }
  34% {
    transform: translate(1px, -1px)
  }
  36% {
    transform: translate(0, 0)
  }
  38% {
    transform: translate(-1px, 1px)
  }
  40% {
    transform: translate(-1px, -1px)
  }
  42% {
    transform: translate(0, 0)
  }
  44% {
    transform: translate(1px, 1px)
  }
  46% {
    transform: translate(1px, -1px)
  }
  48% {
    transform: translate(0, 0)
  }
  50% {
    transform: translate(-1px, 1px)
  }
  52% {
    transform: translate(-1px, -1px)
  }
  54% {
    transform: translate(0, 0)
  }
  56% {
    transform: translate(1px, 1px)
  }
  58% {
    transform: translate(1px, -1px)
  }
  60% {
    transform: translate(0, 0)
  }
  62% {
    transform: translate(-1px, 1px)
  }
  64% {
    transform: translate(-1px, -1px)
  }
  66% {
    transform: translate(0, 0)
  }
  68% {
    transform: translate(1px, 1px)
  }
  70% {
    transform: translate(1px, -1px)
  }
  72% {
    transform: translate(0, 0)
  }
  74% {
    transform: translate(-1px, 1px)
  }
  76% {
    transform: translate(-1px, -1px)
  }
  78% {
    transform: translate(0, 0)
  }
  80% {
    transform: translate(1px, 1px)
  }
  82% {
    transform: translate(1px, -1px)
  }
  84% {
    transform: translate(0, 0)
  }
  86% {
    transform: translate(-1px, 1px)
  }
  88% {
    transform: translate(-1px, -1px)
  }
  90% {
    transform: translate(0, 0)
  }
  92% {
    transform: translate(1px, 1px)
  }
  94% {
    transform: translate(1px, -1px)
  }
  96% {
    transform: translate(0, 0)
  }
  98% {
    transform: translate(-1px, 1px)
  }
  100% {
    transform: translate(-1px, -1px)
  }
}