// 全局CSS变量
html {
  --theme: #50bfff;
  --main: #606266;
  --background: rgba(255, 255, 255, 0.93);
  --light-a: #fff;
  --light-b: #ebeef5;
  --dark-a: #4a4a4a;
  --dark-b: #909399;
  --dark-c: #333;
  --dark-d: #dcdcdc;
  --bg-a: rgb(242 246 252 / 80%);;
  --bg-b: #f2f6fc;
  --bg-c: #f5f5f5;
  --bg-d: rgba(255, 255, 255, 0.8);
  --bg-e: var(--theme);
  --bg-f: #f7f7f7;

  --radius-wrap: 8px;
  --radius-inner: 4px;
  --radius-img: 5px;
  --box-shadow: 0 0px 10px -5px #949494;
  &.night {
    --theme: #5d93db;
    --main: #999;
    --background: rgba(40,44,52,.6);
    --light-a: #232323;
    --light-b: #414243;
    --dark-a: #888;
    --dark-b: #777;
    --dark-c: silver;
    --dark-d: #303030;
    --bg-a: rgb(65 66 67 / 80%);
    --bg-b: #303030;
    --bg-c: #373d48;
    --bg-d: rgba(40,44,52,.8);
    --bg-e: #434a56;
    --bg-f: #191e3c;
    --box-shadow: 1px 1px 3px 1px #1b1b1b;

    #universe {
      background: radial-gradient(1600px at 70% 120%, #212750 10%, #020409 100%);
      display: block;
      position: fixed;
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    .logo-img {
      display: none;
      &-dark {
        display: inline-block;
      }
    }
  }
}